<% if archives.any? %>
<section id="archive" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Previous Editions</h2>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <ul class="grid small-block-grid-3 large-block-grid-6">
                <% archives.each do |archive| %>
                <li>
                    <a href=".<%= archive.path %>" data-bottom="transform:rotateZ(180deg) rotateY(90deg) scale(0);opacity:0;transform-origin:50% 0" data--150-bottom="transform:rotateZ(0deg) rotateY(0) scale(1);opacity:1">
                        <div class="month"><%= start_date(archive).strftime("%b") %></div>
                        <div class="day"><%= start_date(archive).strftime("%d") %></div>
                        <div class="year"><%= start_date(archive).strftime("%Y") %></div>
                    </a>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</section>
<% end %>
