<% if archives.any? %>
<section id="archive" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Previous Editions</h2>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <ul class="grid small-block-grid-3 large-block-grid-6">
                <% archives.each do |archive| %>
                <li>
                    <a href=".<%= archive.path %>" data-bottom="transform:rotate(360deg) scale(0)" data--150-bottom="transform:rotate(0deg) scale(1)">
                        <h6><%= Time.parse(archive[:start]).strftime("%b") %></h6>
                        <h3><%= Time.parse(archive[:start]).strftime("%d") %></h3>
                    </a>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</section>
<% end %>
