<footer id="footer" class="feature">
    <div class="row">
        <div class="large-12 columns">
            <p><small>
                Geek Night Chennai sponsored by
                <a rel="nofollow" target="_blank" href="//thoughtworks.com">ThoughtWorks</a><br />
                Built with
                <a rel="nofollow" target="_blank" href="//html5boilerplate.com">HTML5 Boilerplate</a>,
                <a rel="nofollow" target="_blank" href="//foundation.zurb.com">Zurb Foundation</a> &amp;
                <a rel="nofollow" target="_blank" href="//leafletjs.com">Leaflet</a>
                <br />
                Assets from <a rel="nofollow" target="_blank" href="//openstreetmap.org">OpenStreetMap</a>,
                <a rel="nofollow" target="_blank" href="//fontello.com">Fontello</a> &amp;
                <a rel="nofollow" target="_blank" href="//modernpictograms.com">Modern Pictograms</a>
            </small></p>
        </div>
    </div>
</footer>
