<footer id="footer" class="feature">
    <div class="row">
        <div class="large-12 columns">
            <p><small>
                <a href=".">Geek Night Chennai</a> sponsored by
                <a rel="nofollow" target="_blank" href="//thoughtworks.com">ThoughtWorks</a><br />
                Built with
                <a rel="nofollow" target="_blank" href="//html5boilerplate.com">HTML5 Boilerplate</a>,
                <a rel="nofollow" target="_blank" href="//foundation.zurb.com">Zurb Foundation</a>,
                <a rel="nofollow" target="_blank" href="//github.com/Prinzhorn/skrollr">Skrollr</a>,
                <a rel="nofollow" target="_blank" href="//daneden.me/animate/">Animate</a>,
                <a rel="nofollow" target="_blank" href="//nanoc.ws">Nanoc</a> &amp;
                <a rel="nofollow" target="_blank" href="//fontello.com">Fontello</a>
            </small></p>
        </div>
    </div>
</footer>
