<header id="header" class="feature">
    <div class="fixed">
        <nav class="top-bar">
            <ul class="title-area">
                <li class="name"><h1><a href="./">Geek Night Chennai &raquo; <span><%= start_date(latest).strftime("%b %-d") %></span></a></h1></li>
                <li class="toggle-topbar menu-icon"><a href="#"></a></li>
            </ul>
            <section class="top-bar-section">
                <ul class="left">
                    <li><a href="http://www.thoughtworks.com" target="_blank"
                           onclick="ga('send', 'event', 'tw', 'tw')">ThoughtWorks</a>
                    </li>
                </ul>
                <ul class="right">
                    <li>
                        <a href="<%= latest[:participate] %>" target="_blank" rel="nofollow"
                           onclick="ga('send', 'event', 'participate', 'participate')">
                            Participate
                        </a>
                    </li>
                    <li>
                        <a href="<%= latest[:talk] %>" target="_blank" rel="nofollow"
                           onclick="ga('send', 'event', 'talk', 'talk')">
                            Talk
                        </a>
                    </li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#agenda">Agenda</a></li>
                    <% if @item == latest %>
                        <li><a href="#location">Location</a></li>
                    <% end %>
                    <% if archives.any? %><li><a href="#archive">Previous Editions</a></li><% end %>
                </ul>
            </section>
        </nav>
    </div>
</header>
