<section id="location" class="feature">
    <div class="row">
        <h2>Location</h2>

        <div id="address">
            <h6>
                ThoughtWorks Technologies Pvt Ltd<br />
                9th Floor, Phase 3 <br />
                Ascendas International Tech Park <br />
                Taramani, Chennai <br />
                <small><a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=thoughtworks+chennai&aq=&sll=37.0625,-95.677068&sspn=61.153041,114.169922&vpsrc=0&ie=UTF8&hq=thoughtworks&hnear=Chennai,+Tamil+Nadu,+India&t=m&z=13&iwloc=A&cid=1639595661799347847" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small>
            </h6>
        </div>
    </div>
</section>

<div id="map" class="hide"></div>
