# common
*.bak
*.orig

# sublime
*.sublime-workspace

# vim
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# SASS
.sass-cache

# Nanoc
generator/tmp
generator/output
*.log
.bundle
.rvmrc
