#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

ignore '/example/'
ignore 'css/*.scss'

compile 'css/*.sass' do
  filter :sass, filename: item.raw_filename, load_paths: [ '.', 'assets/css/' ], cache: false
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :erb
    layout start_date.future? ? 'default' : 'archive'
  end
end

compile '*', rep: :preview do
  if item == latest
    filter :erb
    layout 'preview'
  end
end

route 'css/*.sass' do
  # Compile SASS to CSS
  item.identifier.gsub('.sass', '.css').chop
end

route '*' do
  if item.binary?
    item.identifier.chop
  elsif item == latest
    '/index.html'
  else
    start_date.strftime('/%b%Y.html').downcase
  end
end

route '*', rep: :preview do
  if item == latest
    '/preview.html'
  end
end

route '/', rep: :index do
  '/index.html'
end

layout '*', :erb
