html {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "OpenSans", sans-serif; }
  html body {
    position: relative;
    margin: auto;
    min-width: 960px; }
  html a {
    color: #ef5ba1;
    text-decoration: none; }

#toggle {
  display: none;
  visibility: hidden; }

#expand {
  height: 0;
  overflow: hidden;
  transition: height 0.5s; }

#toggle:checked ~ #expand {
  height: 285px; }

.header {
  background: #FFF;
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 999; }
  .header a {
    text-decoration: none;
    color: #ef5ba1; }
  .header .nav-bar {
    width: 960px;
    display: flex;
    position: relative;
    top: 15px;
    bottom: 15px;
    margin: auto;
    opacity: 0.85; }
    .header .nav-bar .logo-section {
      display: flex;
      flex: 1 1 50%; }
      .header .nav-bar .logo-section .logo {
        background: url("/img/geek_night_logo.svg") no-repeat;
        background-size: 140px;
        height: 65px;
        width: 160px;
        margin-left: 5px; }
    .header .nav-bar .menu {
      display: flex;
      align-items: center;
      flex: 1 1 30%; }
      .header .nav-bar .menu-item {
        flex: 1 1 20%;
        white-space: nowrap;
        text-align: center; }

.intro {
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 800px;
  text-align: center; }
  .intro .banner {
    flex: 1 1 60%;
    background: url("/img/intro_background.jpg") center center no-repeat;
    background-size: 100%; }
    .intro .banner-overlay {
      background-color: rgba(255, 255, 255, 0.8);
      margin: auto;
      height: 320px;
      max-width: 600px;
      position: absolute;
      top: -100px;
      bottom: 0;
      right: 0;
      left: 0; }
  .intro-text {
    flex: 0 1 10%;
    background-color: #80c9d2;
    font-size: 34px;
    font-weight: 600;
    padding: 5% 5% 0 5%; }
    .intro-text .read-more {
      color: #ef5ba1; }
    .intro-text .read-more::after {
      content: "More";
      cursor: pointer;
      text-decoration: underline; }
    .intro-text #toggle:checked ~ label::after {
      content: "Less"; }
  .intro-info {
    display: flex;
    flex-flow: column nowrap;
    height: 100%; }
    .intro-info-place-title {
      font-size: 33px;
      font-weight: 800;
      border-bottom: 2px solid #4a4a4a;
      margin: 0 70px;
      padding-top: 26px; }
    .intro-info-edition {
      padding-top: 15px;
      font-size: 24px;
      font-weight: bold; }
      .intro-info-edition sup {
        font-size: 18px; }
    .intro-info-date {
      padding-top: 10px;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 20px; }
      .intro-info-date sup {
        font-size: 14px; }
    .intro-info-buttons {
      display: flex;
      justify-content: center; }
      .intro-info-buttons-button {
        border-radius: 4px;
        border: 1px solid transparent;
        width: 220px;
        height: 60px;
        cursor: pointer;
        margin-left: 30px; }
        .intro-info-buttons-button-text {
          height: 60px;
          font-size: 24px;
          line-height: 58px;
          border-radius: 4px;
          background-color: #1a73ba;
          color: #FFF; }
        .intro-info-buttons-button-sub-text {
          color: #000;
          font-style: italic;
          font-size: 14px; }

.agenda-heading {
  background-color: #dfdfdf;
  height: 90px;
  line-height: 90px;
  text-align: center; }
  .agenda-heading-text {
    font-size: 36px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase; }
.agenda .content {
  padding: 20px 0; }
  .agenda .content .speakers {
    margin: 0px auto;
    min-width: 768px;
    width: 768px; }
    .agenda .content .speakers:first-child {
      border-top: none; }
    .agenda .content .speakers:last-child {
      border-bottom: 1px solid #000; }
    .agenda .content .speakers .speaker-details {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      border-top: 1px solid #000;
      padding: 20px 0; }
      .agenda .content .speakers .speaker-details .time {
        flex: 1 1 20%; }
      .agenda .content .speakers .speaker-details .speaker-detail {
        flex: 1 1 80%; }

.location {
  position: relative; }
  .location .live-map {
    height: 500px;
    width: 100%;
    border: 0;
    padding: 0; }
  .location .map {
    position: absolute;
    height: 180px;
    width: 500px;
    font-size: 15px;
    line-height: 25px;
    padding: 20px;
    margin: 5px;
    background-color: white;
    box-shadow: 17px 19px 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 5px; }
    .location .map-container {
      position: relative;
      display: flex; }
    .location .map-address {
      flex: 1 1 80%;
      border-right: 1px solid #ef5ba1; }
    .location .map-direction {
      position: relative;
      flex: 1 1 20%;
      text-align: center;
      align-self: center; }
      .location .map-direction-logo {
        height: 70px;
        background: url("/img/direction.svg") no-repeat;
        background-size: 50px;
        background-position: 30px 20px; }
  .location .location-heading {
    background-color: #dfdfdf;
    height: 90px;
    line-height: 90px;
    text-align: center; }
    .location .location-heading-text {
      font-size: 36px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase; }

.about-heading {
  background-color: #dfdfdf;
  height: 90px;
  line-height: 90px;
  text-align: center; }
  .about-heading-text {
    font-size: 36px;
    font-weight: 800;
    color: black;
    padding: 20px 0 20px 0;
    text-transform: uppercase; }

.about-details {
  font-size: 18px;
  margin: 0 180px;
  text-align: justify; }

.footer {
  background: #000;
  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
  left: 0;
  padding: 0;
  align-items: center; }
  .footer a {
    text-decoration: none;
    color: #FFF; }
  .footer .logo-section {
    display: flex;
    flex: 1 1 50%;
    justify-content: flex-end;
    margin-top: 10px; }
    .footer .logo-section .sponsored-by {
      color: #FFF;
      font-size: 14px;
      font-weight: 100; }
    .footer .logo-section .logo {
      background: url("/img/tw-logo-white.svg") no-repeat;
      background-size: 140px;
      height: 35px;
      width: 140px;
      margin-left: 5px;
      margin-top: 3px; }
  .footer .feedback-section {
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: 100; }
    .footer .feedback-section:before {
      content: '|';
      color: #FFF;
      height: 10px;
      width: 1px;
      margin: 0 5px 0 5px; }
