html {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "Open Sans", sans-serif; }
  html body {
    position: relative;
    margin: auto;
    min-width: 960px; }
  html a {
    color: #ef5ba1; }

#toggle {
  display: none;
  visibility: hidden; }

#expand {
  height: 0;
  overflow: hidden;
  transition: height 0.5s; }

#toggle:checked ~ #expand {
  height: 285px; }

.header {
  background: #FFF;
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 999; }
  .header a {
    text-decoration: none;
    color: #ef5ba1; }
  .header .nav-bar {
    width: 960px;
    display: flex;
    position: relative;
    top: 15px;
    bottom: 15px;
    margin: auto;
    opacity: 0.85; }
    .header .nav-bar .logo-section {
      display: flex;
      flex: 1 1 50%; }
      .header .nav-bar .logo-section .logo {
        background: url("/img/geek_night_logo.svg") no-repeat;
        background-size: 140px;
        height: 65px;
        width: 160px;
        margin-left: 5px; }
    .header .nav-bar .menu {
      display: flex;
      align-items: center;
      flex: 1 1 30%; }
      .header .nav-bar .menu-item {
        flex: 1 1 20%;
        white-space: nowrap;
        text-align: center; }

.footer {
  background: #000;
  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
  left: 0;
  padding: 0;
  align-items: center; }
  .footer a {
    text-decoration: none;
    color: #FFF; }
  .footer .logo-section {
    display: flex;
    flex: 1 1 50%;
    justify-content: flex-end;
    margin-top: 10px; }
    .footer .logo-section .sponsored-by {
      color: #FFF;
      font-size: 14px;
      font-weight: 100; }
    .footer .logo-section .logo {
      background: url("/img/tw-logo-white.svg") no-repeat;
      background-size: 140px;
      height: 35px;
      width: 140px;
      margin-left: 5px;
      margin-top: 3px; }
  .footer .feedback-section {
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: 100; }
    .footer .feedback-section:before {
      content: '|';
      color: #FFF;
      height: 10px;
      width: 1px;
      margin: 0 5px 0 5px; }
