<section id="about">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <div class="about-heading">
            <div class="about-heading-text">ABOUT</div>
        </div>
    </div>
    <div class="about-details">
        <p>An open forum for geeks to connect, discuss & learn latest ideas, technologies and trends in software development.</p>
        <p>Geek Night is a monthly event to promote sharing of technical knowledge and increase collaboration between
            geeks in Chennai. It is organized by a passionate group of programmers and sponsored by ThoughtWorks.</p>

        <p>It happens on the <b>Last Thursday of every month</b>, unless that's a public holiday or any other
            unavoidable cause, like an Alien invasion.</p>

        <p>We love feedback! If you have any suggestions or cribs, feel free to fill out our
        <a rel="nofollow" href="https://geeknight.typeform.com/to/cZEhey" target="_blank"> feedback form</a>.
            Don't worry, its completely anonymous.</p>
    </div>
</section>
