<section id="archive" class="archive">
    <div class="archive-heading"><div class="archive-heading-text">Previous Editions</div></div>
    <div class="previous-editions">        
        <ul>
            <% events.each do |archive| %>
            <li>
                <a href=".<%= archive.path %>" data-bottom="transform:rotateZ(180deg) rotateY(90deg) scale(0);opacity:0;transform-origin:50% 0" data--150-bottom="transform:rotateZ(0deg) rotateY(0) scale(1);opacity:1" class="<%= 'active' if archive == @item %>">
                    <div class="month"><%= start_date(archive).strftime("%b-%d-%Y") %></div>                    
                </a>
            </li>
            <% end %>
        </ul>        
    </div>
</section>
