<footer class="footer">
    <div class="logo-section">
        <a href="http://www.thoughtworks.com" target="_blank" onclick="ga('send', 'event', 'tw', 'tw')">
            <span class="sponsored-by">Sponsored by</span>
        </a>
        <div class="logo"></div>
    </div>
    <div class="feedback-section">
        <a rel="nofollow" href="https://geeknight.typeform.com/to/cZEhey" target="_blank">Feedback</a>.
    </div>
</footer>
