<footer id="footer" class="footer">
    <a href="http://www.thoughtworks.com" target="_blank" onclick="ga('send', 'event', 'tw', 'tw')">
        <div class="logo-section">
            <span class="sponsored-by">Sponsored by</span><div class="logo"></div>
        </div>
    </a>
</footer>
