<header class="header">
    <nav class="nav-bar">
        <div class="logo-section">
            <div class="logo"></div>
        </div>
        <div class="menu">
            <div class="menu-item"><a href="#about">About</a></div>
            <div class="menu-item"><a href="#agenda">Agenda</a></div>            
            <div class="menu-item"><a href="#location">Location</a></div>            
            <div class="menu-item"><a href="#archive">All Editions</a></div>
        </div>
    </nav>
</header>