<section class="location">
    <div class="location-heading">
        <div class="location-heading-text">Location</div>
    </div>
    <div class="map">
        <div class="map-container">
            <div class="map-address">
                <h3>ThoughtWorks Technologies Pvt Ltd</h3>
                <div>Ascendas International Tech Park, Zenith - 9th Floor, Tharamani Road, Tharamani, Taramani,
                    Chennai,Tamil Nadu 600113, India
                </div>
                <div>Ph: 044-49018400</div>
            </div>
            <div class="map-direction">
                <a href="https://www.google.com/maps/place/ThoughtWorks+Technologies/@12.983806,80.2437003,1060m/data=!3m1!1e3!4m5!3m4!1s0x0:0x16c1039144d25687!8m2!3d12.983806!4d80.245889?hl=en"
                   target="_blank" rel="nofollow">
                    <div class="map-direction-logo"></div>
                    <span>Direction</span>
                </a>
            </div>
        </div>
    </div>

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.812970424768!2d80.24370031530724!3d12.983811218122122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d647d3b9a0f%3A0x16c1039144d25687!2sThoughtWorks+Technologies!5e0!3m2!1sen!2sin!4v1504769184074"
                allowfullscreen class="live-map"></iframe>
    </div>
</section>