<section id="location" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Location</h2>
    </div>

    <div class="row">
        <div class="large-4 columns address" data--100-bottom-top="transform:translateX(-100%)" data--100-bottom="transform:translateX(0)">
            <p>
                <span>ThoughtWorks Technologies Pvt Ltd</span>
                <span>6th Floor,Binarius Building</span>
                <span>Deepak Complex,National Games Road</span>
                <span> Shastrinagar, Yerawada,Pune, Maharashtra 411006</span>
                <span><small><a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies+India+Pvt+Ltd./@18.555971,73.8919,15z/data=!4m2!3m1!1s0x0:0xcd58a64a848651e5" target="_blank" rel="nofollow">&laquo; Open in Google Maps &raquo;</a></small></span>
            </p>
        </div>

        <div class="large-8 columns map" data-anchor-target=".address" data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">
            <a href="https://www.google.co.in/maps/place/ThoughtWorks+Technologies+India+Pvt+Ltd./@18.555971,73.8919,15z/data=!4m2!3m1!1s0x0:0xcd58a64a848651e5" target="_blank" rel="nofollow">
                <img src="./img/map.png" alt="Map" align="center" />
            </a>
        </div>
    </div>
</section>
