#about {
	p {
		padding: 1rem 0;
		margin: 0;
	}
	.about-heading {
		height: 90px;
		line-height: 90px;
		text-align: center;
		background-color: $section-heading-background;
		&-text {
			font-size: 36px;
			font-weight: 800;
			color: $white;
			text-transform: uppercase;
		}
	}

	.about-details {
		font-size: 18px;
		padding: 0 50px;
		text-align: justify;
		max-width: 1024px;
		margin: auto;
		line-height: 1.5rem;
	}
}
