.footer {
	background: $black;
	display: flex;
	position: relative;
	height: 50px;
	width: 100%;
	left: 0;
	padding: 0;
	align-items: center;
	justify-content: center;

	a {
		text-decoration: none;
		color: $white;
	}
	
	.logo-section {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-around;
		width: 240px;

		a {
			display: flex;
		}

		.sponsored-by {
			color: $white;
			font-size: 14px;
			font-weight: 500;
    		flex: 1 1 auto;
    		align-self: center;
		}
		.logo {
			background: $tw-footer-logo no-repeat center center;
			background-size: 400px;
			height: 35px;
			width: 140px;
			flex: 1 1 auto;
		}
	}
}
