@charset "UTF-8";

//Colors
$pink: #ef5ba1;
$white: #FFF;
$black: #000;
$seafoam-blue: #80c9d2;
$nice-blue: #1a73ba;
$section-heading-background: #dfdfdf;
$gray: #4a4a4a;

//Images
$tw-logo: url("/img/tw-logo-white.svg");
$geeknight-logo: url("/img/geek_night_logo.svg");
$direction-img: url("/img/direction.svg");
$intro-background: url("/img/intro_background.jpg");