@import "variables"

html
  width: 100%
  height: 100%
  overflow: auto  
  font-family: 'OpenSans', sans-serif
  body
    position: relative
    margin: auto
    min-width: 960px
  a
    color: $pink
    text-decoration: none

#toggle
  display: none
  visibility: hidden

#expand
  height: 0
  overflow: hidden
  transition: height 0.5s

#toggle:checked ~ #expand
  height: 285px

.link
  text-decoration: underline

@import "header"
@import "intro"
@import "agenda"
@import "location"
@import "archive"
@import "about"
@import "footer"